<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="IntValue" value="23"/>
    <add key="ShortValue" value="1"/>
    <add key="BoolValue" value="true"/>
    <add key="LongValue" value="100"/>
    <add key="DoubleValue" value="2.3"/>
    <add key="DatetimeValue" value="2/2/2011"/>
    <add key="StringValue" value="This is my string value."/>
  </appSettings>
</configuration>